.container {
    width: 360px;
}  
#inputField {
    width: 300px;
    height: 46px;
    border-width: 0;
    border: 1px solid rgb(235, 13, 13);
    outline: none;
    font-size: 25px;
    vertical-align: middle;
}

#addToDo {
    height: 50px;
    width: 50px;
    border: 1px solid rgb(222, 14, 14);
    vertical-align: middle;
    font-size: 30px;
}

.paragraph-styling {
    margin: 0;
    cursor: pointer;
    font-size: 20px;
}

.to-dos {
    margin-top: 25px;
}
